<%@ page language="java" session="false" buffer="none"%>
<%@ taglib uri="http://java.sun.com/jstl/core" prefix="c"%>
<%@ taglib uri="http://www.gx.nl/taglib/wm" prefix="wm"%>
<%@ taglib prefix="forms" tagdir="/WEB-INF/tags/nl_gx_forms_wmpformelement"%>
<%@ taglib prefix="json" uri="http://www.atg.com/taglibs/json"%>
<%@ taglib prefix="tags" tagdir="/WEB-INF/tags/nl_gx_product_headlessformpresentation"%>


<c:set var="website" value="${presentationcontext.website}" />
<c:set var="element" value="${presentationcontext.element}" />
<c:set var="formStep" value="${presentationcontext.baseObject}" scope="request" />

<c:choose>
  <%-- When in IF panel or editorial context return html --%>
  <c:when test="${presentationcontext.inContextRequest || mode == 'preview'}">
    <forms:form element="${presentationcontext.element}" formStep="${formStep}">
      <forms:messages nestedPath="${nestedPath}" />
      <div id="canvas">
        <c:forEach var="formFragment" items="${formStep.formFragments}">
          <wm:render object="${formFragment}" />
        </c:forEach>
      </div>
    </forms:form>
  </c:when>

  <%-- When frontend request return json --%>
  <c:otherwise>
    <json:property name="step" value="${formStep.title}" />
    <json:property name="${formSession.stepIdKey}" value="${formStep.identifier}" />
    <json:property name="${formSession.localeKey}" value="${formSession.formScope.locale}" />

    <c:set var="protocol" value="${presentationcontext.secureRequest ? 'https' : 'http'}" />
    <json:property name="actionUrl"
      value="${protocol}://${website.hostName}${pageContext.request.contextPath}/wcbservlet/nl.gx.forms.wmpformengine.servlet" />

    <wm:link var="ajaxBase" ssiObjectId="${element.id}"
      ssiObjectClassName="nl.gx.webmanager.cms.element.Element"
      tsobjectid="${formStep.formVersion.form.id}" ajax="true" />
    <json:property name="ajaxUrl"
      value="${protocol}://${website.hostName}${ajaxBase.url}" />

    <tags:messagesJSON nestedPath="${formStep.identifier}" />

    <json:array name="fields">
      <c:forEach var="formFragment" items="${formStep.formFragments}">
        <wm:render object="${formFragment}" />
      </c:forEach>
    </json:array>
  </c:otherwise>
</c:choose>