<%@ page language="java" session="false" buffer="none"%>
<%@ taglib uri="http://java.sun.com/jstl/core" prefix="c"%>
<%@ taglib uri="http://www.gx.nl/taglib/functions" prefix="wmfn"%>
<%@ taglib prefix="forms" tagdir="/WEB-INF/tags/nl_gx_forms_wmpformelement"%>
<%@ taglib prefix="tags" tagdir="/WEB-INF/tags/nl_gx_product_headlessformpresentation"%>

<c:set var="formFragment" value="${presentationcontext.baseObject}" />

<c:choose>
  <%-- When in IF panel or editorial context return html --%>
  <c:when
    test="${presentationcontext.inContextRequest || mode == 'preview'}">
    <c:set var="dataFragmentTagValue"
      value="${formFragment.dataFragmentTag}" />

    <c:set var="extra" value="" />
    <c:if test="${not empty formFragment.cssClassName}">
      <c:set var="extra"> class="${wmfn:escapeToHTMLAttribute(formFragment.cssClassName)}"</c:set>
    </c:if>

    <forms:fragmentDiv fragment="${formFragment}">
      <input type="submit" ${extra} name="${formFragment.nestedPath}"
        value="<forms:xmlescape value="${formFragment.name}" />"
        data-fragment-tag="${wmfn:escapeToHTMLAttribute(dataFragmentTagValue)}" />
    </forms:fragmentDiv>
  </c:when>

  <%-- When frontend request return json --%>
  <c:otherwise>
    <tags:fragmentJSON fragment="${formFragment}" type="button" />
  </c:otherwise>
</c:choose>