<%@ page language="java" session="false" buffer="none" %>
<%@ taglib uri="http://java.sun.com/jstl/core" prefix="c" %>
<%@ taglib uri="http://www.gx.nl/taglib/wm" prefix="wm" %>
<%@ taglib uri="http://www.gx.nl/taglib/functions" prefix="wmfn" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ taglib prefix="forms" tagdir="/WEB-INF/tags/nl_gx_forms_wmpformelement" %>
<%@ taglib prefix="tags" tagdir="/WEB-INF/tags/nl_gx_product_headlessformpresentation"%>

<c:set var="formFragment" value="${presentationcontext.baseObject}" />

<c:choose>
  <%-- When in IF panel or editorial context return html --%>
  <c:when test="${presentationcontext.inContextRequest || mode == 'preview'}">
    <c:set var="identifier" value="${fn:replace(formFragment.nestedPath,'.','_')}" />

    <c:set var="widthAttribute" value="size=\"35\"" />
    <c:set var ="dataFragmentTagValue" value = "${formFragment.dataFragmentTag}" />

    <c:if test="${not empty formFragment.width && formFragment.width != 0}">
        <c:set var="widthAttribute">size="${formFragment.width}"</c:set>
    </c:if>

    <c:set var="maxLengthAttribute">
      <c:if test="${not empty formFragment.maxLength && formFragment.maxLength != 0}">maxlength="${formFragment.maxLength}"</c:if>
    </c:set>

    <c:set var="extra" value="" />
    <c:if test="${not empty formFragment.cssClassName}">
      <c:set var="extra"> class="${wmfn:escapeToHTMLAttribute(formFragment.cssClassName)}"</c:set>
    </c:if>

    <forms:fragment fragment="${formFragment}">
      <input type="text" ${extra} name="${formFragment.nestedPath}" id="wmformfragment_${identifier}" value="<forms:fragmentValue nestedPath="${formFragment.nestedPath}" />"
      ${widthAttribute} ${maxLengthAttribute} data-fragment-tag="${wmfn:escapeToHTMLAttribute(dataFragmentTagValue)}" />
    </forms:fragment>
  </c:when>

  <%-- When frontend request return json --%>
  <c:otherwise>
    <tags:fragmentJSON fragment="${formFragment}" type="email" />
  </c:otherwise>
</c:choose>