<%@ page language="java" session="false" buffer="none"%>
<%@ taglib uri="http://java.sun.com/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ taglib uri="http://www.gx.nl/taglib/functions" prefix="wmfn"%>
<%@ taglib prefix="forms" tagdir="/WEB-INF/tags/nl_gx_forms_wmpformelement"%>
<%@ taglib prefix="tags" tagdir="/WEB-INF/tags/nl_gx_product_headlessformpresentation"%>

<c:set var="formFragment" value="${presentationcontext.baseObject}" />
<c:set var="identifier" value="${fn:replace(formFragment.nestedPath,'.','_')}" />

<c:set var ="dataFragmentTagValue" value = "${formFragment.dataFragmentTag}" />
<c:set var="currentValue" value="${formScope[formFragment.nestedPath].value}" />

<c:choose>
  <%-- When in IF panel or editorial context return html --%>
  <c:when test="${presentationcontext.inContextRequest || mode == 'preview'}">

    <forms:fragment fragment="${formFragment}">
      <ul class="wm-field-list listStyleTypeNone" id="wmformfragment_${identifier}">

        <c:set var="extra" value="" />
        <c:if test="${not empty formFragment.cssClassName}">
          <c:set var="extra"> class="${wmfn:escapeToHTMLAttribute(formFragment.cssClassName)}"</c:set>
        </c:if>

        <c:forEach var="item" items="${formFragment.items}" varStatus="status">
          <li><input type="radio" ${extra} name="${formFragment.nestedPath}"
          <%-- If empty, set the default value. There should be one selected in contradiction to checkboxes --%>
          <c:choose>
              <c:when test="${empty currentValue}">
                  <c:if test="${item.isSelected}"> checked="checked"</c:if>
              </c:when>
              <c:otherwise>
                  <c:if test="${currentValue == item.value}"> checked="checked"</c:if>
              </c:otherwise>
          </c:choose>value="${item.value}" id="wmformfragment_${formFragment.nestedPath}_${item.value}" data-fragment-tag="${wmfn:escapeToHTMLAttribute(dataFragmentTagValue)}" /><label id="wmradiolabel_${formFragment.nestedPath}_${item.value}" for="wmformfragment_${formFragment.nestedPath}_${item.value}" class="wmradio_checkbox_item_label"><forms:xmlescape value="${item.name} "/></label></li>
        </c:forEach>
      </ul>
    </forms:fragment>
  </c:when>

  <%-- When frontend request return json --%>
  <c:otherwise>
    <tags:fragmentJSON fragment="${formFragment}" type="radio" />
  </c:otherwise>
</c:choose>