<%@ page language="java" session="false" buffer="none" %>
<%@ taglib uri="http://java.sun.com/jstl/core" prefix="c" %>
<%@ taglib uri="http://www.gx.nl/taglib/wm" prefix="wm" %>
<%@ taglib uri="http://www.gx.nl/taglib/functions" prefix="wmfn" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ taglib prefix="forms" tagdir="/WEB-INF/tags/nl_gx_forms_wmpformelement"%>
<%@ taglib prefix="tags" tagdir="/WEB-INF/tags/nl_gx_product_headlessformpresentation"%>

<c:set var="formFragment" value="${presentationcontext.baseObject}" />

<c:choose>
  <%-- When in IF panel or editorial context return html --%>
  <c:when test="${presentationcontext.inContextRequest || mode == 'preview'}">
    <c:set var="identifier" value="${fn:replace(formFragment.nestedPath,'.','_')}" />
    <c:set var ="dataFragmentTagValue" value = "${formFragment.dataFragmentTag}" />
    <c:set var="currentValue" value="${formScope[formFragment.nestedPath].value}" />
    <forms:fragment fragment="${formFragment}">
      <select class="wm-field-list wm-field-dropdown" name="${formFragment.nestedPath}" id="wmformfragment_${identifier}" data-fragment-tag="${wmfn:escapeToHTMLAttribute(dataFragmentTagValue)}" >

        <c:set var="extra" value="" />
        <c:if test="${not empty formFragment.cssClassName}">
          <c:set var="extra"> class="${wmfn:escapeToHTMLAttribute(formFragment.cssClassName)}"</c:set>
        </c:if>

        <c:forEach var="item" items="${formFragment.items}" varStatus="status">
          <option${extra} value="<forms:xmlescape value="${item.value}" />"<c:if test="${currentValue == item.value}"> selected="selected"</c:if>><forms:xmlescape value="${item.name}"/></option>
        </c:forEach>
      </select>
    </forms:fragment>
  </c:when>

  <%-- When frontend request return json --%>
  <c:otherwise>
    <tags:fragmentJSON fragment="${formFragment}" type="dropdown" />
  </c:otherwise>
</c:choose>